.game-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  width: 100%;
  background-color: #E1E5F2;
  border: 1px solid black;
}

.game-board-container {
  display: grid;
  grid-row: 1 / span 2;
  grid-column: 1;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  background-color: #F8ECE0;
  border: 1px solid black;
}

.game-board {
  display: grid;
  grid-column: 1 / 4;
  grid-row: 1;
  align-items: center;
  justify-items: center;
  
  border: 1px solid black;
}

.input-box {
  display: grid;
  grid-column: 1 / 4;
  grid-row: 2;
  align-items: center;
  justify-items: center;
  align-self: end;
  border: 1px solid black;
}

.score-correct-word-container {
  display: grid;
  grid-column: 2;
  grid-row: 1 / span 2;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  background-color: #F1F3E9;
  border: 1px solid black;
}

.correct-word {
  grid-column: 1 / span 3;
  grid-row: 1;
  display: grid;
  align-content: center;
  justify-items: center;
}

.score, .timer, .graphic {
  display: grid;
  align-self: end;
  justify-items: center;
  height: 25%;
  border: 1px solid black;
}


.player-chat-container {
  grid-column: 1 / span 2;
  grid-row: 3;
  background-color: #E1E5F2;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.player-list {
  background-color: #F1F3E9;
  border: 1px solid black;
}

.chat-box {
  background-color: #F6D7C0;
  border: 1px solid black;
}
