* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  border-bottom: 1px solid #ddd;
  background-color: #f1c1d1;
  padding: 1rem;
}

main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}

.game-board {
  grid-row: span 3;
  grid-column: span 4;
  border: 1px solid #ddd;
  background-color: #f6e5c5;
  z-index: 1;
  position: relative;
}

.input-box {
  grid-row: 4;
  grid-column: 2 / span 2;
  align-items: center;
  border: 1px solid #ddd;
  background-color: #d5e6e1;
  padding: 1rem;
  text-align: center;
}

.input-box input[type="text"] {
  text-align: center;
}

#input-word {
  text-align: center;
  height: 30px;
 
}


.score {
  grid-row: 4;
  grid-column: 5;
  border: 1px solid #ddd;
  background-color: #f6e5c5;
  padding: 1rem;
}

.correct-word {
  display: grid;
  grid-row: span 3;
  grid-column: 5 / span 6;
  border: 1px solid #ddd;
  background-color: #e6d5d5;
  padding: 1rem;
}

.timer {
  grid-row: 4;
  grid-column: 4;
  border: 1px solid #ddd;
  background-color: #d5d5e6;
  padding: 1rem;
}

/* graphic {
  grid-row: 5;
  grid-column: 1;
  border: 1px solid #ddd;
  background-color: #f1d1e1;
  padding: 1rem;
} */

.player-list {
  grid-row: 5 / span 6;
  grid-column: span 3;
  border: 1px solid #ddd;
  background-color: #e6d5c5;
  padding: 1rem;
}

.chat-box {
  grid-row: 5 / span 6;
  grid-column: 4 / span 6;
  border: 1px solid #ddd;
  background-color: #d5c5e6;
  padding: 1rem;
}

footer {
  text-align: center;
  border-top: 1px solid #ddd;
  background-color: #f1c1d1;
  padding: 1rem;
}
